.movies-card {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.movies-card__image {
  height: 151px;
  object-fit: cover;
  object-position: center;
  width: 270px;
  cursor: pointer;
}

.movies-card__container{
  max-height: 50px;
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid #424242;
}

.movies-card__heading {
  margin: 0;
  max-width: 226px;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
}

.movies-card__likebtn {
  width: 24px;
  height: 24px;
  background-color: initial;
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  margin: 0;
  transition: opacity .2s ease;
}

.movies-card__likebtn_active {
  background-image: url(../../images/like-active.svg);
}


.movies-card__likebtn:hover {
  opacity: 0.7;
}

.movies-card__deletebtn {
  width: 24px;
  height: 24px;
  background-color: initial;
  background-image: url(../../images/deletecard-icon.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  margin: 0;
  transition: opacity .2s ease;
  opacity: 0;
}

.movies-card:hover .movies-card__deletebtn:hover {
  opacity: 0.7;
}

.movies-card:hover .movies-card__deletebtn {
  opacity: 1;
}

.movies-card__duration {
  margin: 5px 0 0;
  color: #8B8B8B;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}


@media screen and (max-width:900px) {
  .movies-card {
    display: flex;
    flex-direction: column;
    width: 339px;
  }

  .movies-card__heading {
    max-width: 295px;
  }

  .movies-card__image {
    height: 190px;
    width: 339px;
  }
}

@media screen and (max-width:425px) {
  .movies-card {
    width: 300px;
  }

  .movies-card__image {
    height: 168px;
    width: 300px;
  }

  .movies-card__heading {
    font-size: 12px;
    max-width: 240px;
  }

  .movies-card__duration {
    margin: 6px 0 0;
    font-size: 10px;
  }
}