.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 1280px;
  min-height: 74px;
  background-color: #202020;
  box-sizing: border-box;
}

.header__logo {
  width: 38px;
  height: 38px;
  background-size: cover;
  margin: 0;
  cursor: pointer;
}

.header__promo {
  background-color:#073042;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: calc(100% - 140px);
}

.header__links {
  display: flex;
  gap: 16px;
  margin-right: auto;
  padding-left: 45px;
}

.header__link {
  margin: 0;
  color: white;
  text-decoration: none;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.header__user {
  margin: 0;
  color: white;
  text-decoration: none;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.header__user-container {
  column-gap: 7px;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.header__button {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100px;
  height: 32px;
  column-gap: 7px;
  padding: 0;
  font-weight: 500;
  border: none;
  background: none;
}

.header__user-container:hover {
  opacity: 0.7;
}

.header__buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.header__signup-btn{
  padding: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.header__signin-btn{
  width: 76px;
  height: 32px;
  padding: 0;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 3px;
  background-color: #3DDC84;
  border: none;
  cursor: pointer;
}

.header__burger-menu {
  display: none;
  border: none;
  object-fit:contain;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.header__signup-btn:hover,
.header__signin-btn:hover,
.header__burger-menu:hover {
  opacity: 0.7;
}

.header__icon {
  width: 12px;
  height: 12px;
  margin: 0;
}

.header__icon-container {
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: flex;
  min-width: 26px;
  min-height: 26px;
  border-radius: 50px;
  background-color: #313131;
  background-size: cover;
  margin: 0 3px 0 0;
}

.header__icon-promo {
  background-color: #0F4157;
}

@media screen and (max-width: 769px) {

  .header__links,
  .header__user-container {
    display: none;
  }

  .header__container {
    width: calc(100% - 60px)
  }

  .header__burger-menu {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .header__burger-menu {
    width: 40px;
    height: 43px;
  }

  .header__link {
    font-size: 14px;
    line-height: normal;
  }

  .header__signup-btn,
  .header__signin-btn {
    font-size: 10px;
  }

  .header__button {
    font-size: 18px;
  }

  .header__container {
    width: calc(100% - 28px)
  }

  .header__user-container {
    display: none;
  }

  .header__buttons-container {
    column-gap: 14px;
  }
}

